- name: Update and upgrade apt
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    upgrade: full

- name: Install terminator
  ansible.builtin.apt:
    name: terminator
    state: present

- name: Install ansible-lint
  ansible.builtin.apt:
    name: ansible-lint
    state: present

- name: Install pip
  ansible.builtin.apt:
    name: python3-pip
    state: present

- name: Install venv
  ansible.builtin.apt:
    name: python3-venv
    state: present

- name: Install python3 as python
  ansible.builtin.apt:
    name: python-is-python3
    state: present

- name: Install meld
  ansible.builtin.apt:
    name: meld
    state: present

- name: Install NFS
  ansible.builtin.apt:
    name: nfs-common
    state: present
